<!DOCTYPE html>
<!--[if IE 9]>         <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title></title>

    <meta name="description" content="<?php echo $template['description'] ?>">
    <meta name="author" content="<?php echo $template['author'] ?>">
    <meta name="robots" content="<?php echo $template['robots'] ?>">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
    <!-- Related styles of various icon packs and plugins -->
    <link rel="stylesheet" href="{{ asset('css/picker/default.css') }}">
    <link rel="stylesheet" href="{{ asset('css/picker/default.date.css') }}">
    <link rel="stylesheet" href="{{ asset('css/picker/default.time.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('css/frontend.css') }}">
</head>