{% extends 'base.html.twig' %}

{% block title %}Lutschen!{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}


{% block body %}
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {%  endfor  %}
    <!-- Quick Stats -->
    <div class="row text-center">
        <div class="col-sm-6 col-lg-3">
            <a href="javascript:void(0)" class="widget widget-hover-effect2">
                <div class="widget-extra themed-background">
                    <h4 class="widget-content-light"><strong>Alle Autos</strong></h4>
                </div>
                <div class="widget-extra-full"><span class="h2 animation-expandOpen">{{ alleAutos }}</span></div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3">
            <a href="javascript:void(0)" class="widget widget-hover-effect2">
                <div class="widget-extra themed-background-dark">
                    <h4 class="widget-content-light"><strong>Alle</strong> Transferfahrten</h4>
                </div>
                <div class="widget-extra-full"><span class="h2 themed-color-dark animation-expandOpen">{{ alleTransfers }}</span></div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3">
            <a href="javascript:void(0)" class="widget widget-hover-effect2">
                <div class="widget-extra themed-background-dark">
                    <h4 class="widget-content-light"><strong>Alle<Fahrten/strong> diesen Monat</h4>
                </div>
                <div class="widget-extra-full"><span class="h2 themed-color-dark animation-expandOpen">{{ alleTransfersDiesenMonat }}</span></div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3">
            <a href="javascript:void(0)" class="widget widget-hover-effect2">
                <div class="widget-extra themed-background-dark">
                    <h4 class="widget-content-light"><strong>Orders</strong> Last Month</h4>
                </div>
                <div class="widget-extra-full"><span class="h2 themed-color-dark animation-expandOpen">2.850</span></div>
            </a>
        </div>
    </div>
    <!-- END Quick Stats -->
    <!-- All Orders Block -->
    <div class="block full">
        <!-- All Orders Title -->
        <div class="block-title">
            <div class="block-options pull-right">
                <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default" data-toggle="tooltip" title="Settings"><i class="fa fa-cog"></i></a>
            </div>
            <h2><strong>All</strong> Orders</h2>
        </div>
        <!-- END All Orders Title -->

        <!-- All Orders Content -->
        <table id="ecom-orders" class="table table-bordered table-striped table-vcenter">
            <thead>
            <tr>
                <th class="text-center" style="width: 100px;">{{ knp_pagination_sortable(transferfahrten, 'Id', 'tf.id') }}</th>
                <th class="visible-lg">{{ knp_pagination_sortable(transferfahrten, 'startDestination', 'tf.startDestination') }}</th>
                <th class="text-center visible-lg">Ziel</th>
                <th class="hidden-xs">{{ knp_pagination_sortable(transferfahrten, 'duration', 'tf.duration') }}</th>
                <th class="text-right hidden-xs">{{ knp_pagination_sortable(transferfahrten, 'distance', 'tf.distance') }}</th>
                <th class="text-right hidden-xs">{{ knp_pagination_sortable(transferfahrten, 'createdAt', 'tf.createdAt') }}</th>
                <th class="text-right hidden-xs">{{ knp_pagination_sortable(transferfahrten, 'fahrzeuge', 'car.id') }}</th>
                <th class="text-center">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for fahrt in transferfahrten %}
                <tr>
                    <td class="text-center"><a href="#"><strong>{{ fahrt.id }}</strong></a></td>
                    <td class="visible-lg"><a href="#">{{ fahrt.startDestination }}</a></td>
                    <td class="visible-lg"><a href="#">{{ fahrt.finishDestination }}</a></td>
                    <td class="visible-lg"><a href="#">{{ fahrt.duration }}</a></td>
                    <td class="visible-lg"><a href="#">{{ fahrt.distance }}</a></td>
                    <td class="visible-lg"><a href="#">{{ fahrt.createdAt|date('d.m.Y') }}</a></td>
                    <td class="visible-lg"><a href="{{ path('car_detail_view', {'id': fahrt.fahrzeuge.id}) }}">{{ fahrt.fahrzeuge }}</a></td>
                    <td class="text-center">
                        <div class="btn-group btn-group-xs">
                            <a href="{{ path('fahrt_editieren', {'id': fahrt.id}) }}" data-toggle="tooltip" title="View" class="btn btn-default"><i class="fa fa-eye"></i></a>
                            <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}

            <?php } ?>
            </tbody>
        </table>
        <!-- END All Orders Content -->
    </div>
    <!-- END All Orders Block -->

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(transferfahrten) }}
    </div>
{% endblock %}

