{% extends 'base.html.twig' %}

{% block title %}Lutschen!{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}


{% block body %}



    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Form editieren</div>
                <div class="panel-body">
                    <div class="col-md-6">

                        {{ form_start(transferForm) }}
                        {{ form_errors(transferForm) }}
                        <div class="form-group">
                            <label>{{ form_label(transferForm.startDestination) }}</label>
                            {{ form_widget(transferForm.startDestination)}}
                            {{ form_errors(transferForm.startDestination)}}
                        </div>
                        {{ form_widget(transferForm) }}
                        <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
                        {{ form_end(transferForm) }}


                        {# {{ form_end(transferForm, {'render_rest': false}) }} #}


                </div>
            </div>
        </div><!-- /.col-->
    </div> <!-- /.row -->

{% endblock %}

